Package: sendmailanalyzer
Version: 8.4
Priority: optional
Essential: no
Maintainer: Gilles Darold <gilles@darold.net>
Homepage: http://sareport.darold.net/
Architecture: all
Pre-Depends: perl
Depends: httpd, libpng12-0, libgd2-noxpm, libgd-gd2-noxpm-perl, libgd-text-perl, libgd-graph-perl, libgd-graph3d-perl
Provide: sendmailanalyzer
Description: SendmailAnalyzer (Perl Sendmail/Postfix log analyser)
    SendmailAnalyzer continuously read your mail log file to generate
    periodical HTML and graph reports. All reports are shown throught
    a CGI web interface.
    It reports all you ever wanted to know about email trafic on your network.
    You can also use it in ISP environment with per domain report.
